[Unit]
Description=csye6225_webapp
ConditionPathExists=/opt/csye6225/webapp/server.js
After=network.target

[Service]
Type=simple
User=csye6225_webapp
Group=csye6225_webapp
WorkingDirectory=/opt/csye6225/webapp
ExecStart=/usr/bin/node /opt/csye6225/webapp/server.js
Restart=always
RestartSec=10

[Install]
WantedBy=cloud-init.target